# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
*.db

# Virtual environments
.venv/
venv/
env/

# Environment files
.env

# Logs & coverage
logs/
*.log
.coverage*
coverage/

# IDE / tooling
.idea/
.vscode/

# Misc OS files
.DS_Store
Thumbs.db